
@{
    ViewBag.Title = "IndexView";
}

<div class="btn-group-vertical container">
    <div class="btn-link">@Html.ActionLink("Add student", "Create", "User")</div>
    <div class="btn-link">@Html.ActionLink("Get all students", "Index", "User")</div>
</div>

